<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXX3oA7M35ul3fuDorzMrf4c6Qjuqtijc</string>
	<key>GCM_SENDER_ID</key>
	<string>982606980725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>diya.tsa-feeback</string>
	<key>PROJECT_ID</key>
	<string>tsa-feedback</string>
	<key>STORAGE_BUCKET</key>
	<string>tsa-feedback.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:982606980725:ios:b24e679079be55cf273a3c</string>
</dict>
</plist>
